body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.product {
    padding: 100px 0;
}
.product .product-image img{
    border: 1px solid rgb(190, 190, 190);
    box-shadow: 2px 2px 13px rgb(190, 190, 190);
    width: 100%;
}
button{
    background-color: #1E95EA;
    color: #fff;
    border: none;
    height: 30px;
    width: 100px;
    margin: 20px 0;
    outline: none;
}
.disabledButton{
    background-color: #d8d8d8;
}
.color-box{
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}
.review-form{
    padding: 30px;
    border: 1px solid #d8d8d8;
}
.review-form label{
    font-weight: 500;
    font-size: 16px;
}
.review-form input,
.review-form textarea{
    border: none;
    border-bottom: 1px solid #d8d8d8;
    padding: 10px 5px;
    outline: none !important;
    width: 100%;
}
.review-form select{
    width: 50px;
    border: 1px solid #d8d8d8;
    outline: none !important;
    text-align: center;
}
.review-form input[type="submit"]{
    background-color: #1E95EA;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}
.activeTab{
    background-color: #1E95EA;

    color: #fff;
    font-weight: 500;
}
.tab{
    padding: 10px;
    margin-right: 10px;
}